.first{
  padding : 10px 10px 10px 10px;
}

.second{
  padding : 10px 10px 10px 10px;
}
 .image-size{
    width:500px;
  }
  .main-padding{
    padding: 20 20 20 20;
    background-color : grey;  
  }

