<h1 class="about-title">
  About
</h1>

<section class="self-description">
  Hi, I am Vaibhav. I am a 2017 B.Tech (Hons) graduate from IIT Kharagpur. I have 9 months of professional experience in web application development using AngularJs, Spring, SQL. I also have practical experience in developing web backend using Nodejs, MongoDB, ExpressJs. 
  <br>
  <br>
  <p>I am very much interested in taking up full time positions in organisations where I can put forth my skills for best use and grow with the company as I achieve their goals. Connect with me on
    <a class = "contact-linkedin" target="_blank" href="https://www.linkedin.com/in/vkona8/">Linkedin</a> or
    <a class = "contact-email" target="_top" href="mailto:vkona8@gmail.com?Subject=Hello%20again">email</a> me
  </p>
</section>
