<h1 class="about-title">
  About
</h1>

<section class="self-description">
  Hi, I am Vaibhav. I am a final year student at IIT Kharagpur. As web platform is a major way to realise great products I wanted to learn web technologies. I developed skills in HTML, CSS, Javascript, AngularJs.
  <br>
  <br>
  <p>I am very much interested in taking up full time positions in organisations where I can put forth my skills for best use. Connect with me on
    <a class = "contact-linkedin" target="_blank" href="https://www.linkedin.com/in/vkona8/">Linkedin</a> or
    <a class = "contact-email" target="_top" href="mailto:vkona8@gmail.com?Subject=Hello%20again">email</a> me
  </p>
</section>
