*{
  outline: 1px solid green;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  /*padding: 0 10%;*/
  background-color: lightgray;
}

header{

}

article{
  margin: 0 10%;
  background-color: white;
}

img{
  width: 500px;
  height: 500px;
}

footer{

}
